require 'cenit/collection/base'

module Cenit
  module Collection
    class <%= class_name %> < Cenit::Collection::Base

        self.base_path = "#{__dir__}/<%= collection_name %>"

<%= dependencies.inject('') { |cmd, d| cmd += "        require 'cenit/collection/#{d['name']}'\r\n        dependencies << Cenit::Collection::#{d['name'].camelize}\r\n" } %>
    end
  end
end